*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.l{
    float: left;
}
.r{
    float: right;
}
.cc{
    clear: both;
}
.p{
    border: 2px solid #000;
    text-align: center;
    padding: 30px;
}
.a{
    width: 30%;
}
.b{
    width: 70%;
}

.d{
    padding: 10%;
}
.left{width: 30%; height: 400px;}
.la{ height: 80%;}
.lb{ height: 20%;}
.ma{ height: 50%; }
.mid{ width: 50%; height: 400px;}
.right{ width: 20%; height: 400px;}
.ra{ height: 25%;}
.rb{ height: 50%;}