@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=PT+Sans&family=Rubik+Gemstones&family=Source+Sans+Pro:wght@200&family=Ubuntu:ital,wght@0,300;1,300&display=swap');
    

*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #0E3A36;
    font-family: 'Source Sans Pro', sans-serif;
}
.l{
    float: left;
}
.r{
    float: right;
}
.clc{
    clear: both;
}
.con{
    width: 1200px;
    height: 3500px;
    margin: auto;
    background: white;
}
.con img{
    display: block;
}
nav{
    background-color: #AA875D;
    line-height: 30px;
    

}
nav ul li{
    list-style: none;
    display: inline;
    margin-left: 8px;
}
nav ul li a{
    color: rgb(109, 17, 17);
    font-weight: bold;
    text-decoration: none;
    padding: 6px;
    border-right: 1px solid brown;
}
.left{
    width: 70%;
   
    color: #fff;
   padding: 3px;
    
}
.caption{
    background-color: #1D3E1E;
}
.left h4  {
    padding: 9px;
    
}
.left   p{
    padding: 9px;
    
}
.left h4{
    border-bottom: 1px solid;
}
.right{
    width: 30%;
    background: #FAFAFA;
    padding: 4px;
}


.rbox{
    border: 1px solid #ccc;
    
}
.rbox h4{
    background-color: brown;
color: #fff;
padding: 10px;
}
.thumb {
    width: 35%;
    
}



.thumb img{
   width: 100%; 
}
.thumbc {
    width: 60%;
    font-size: 10px;
    
}
.b{
    margin: 9px 0;
    border-bottom: 1px solid #ccc;
    
    
}
.layout-column{
    width: 70%;
   
    background-color: #fff;
    padding: 8px;
    margin: 3px 0px;
}
.feature1{
    background-color: #FAFAFA;
    width: 50%;
    padding: 9px;
    border:1px solid #ccc;
    border-top:5px solid #096415;
    
 }
 .feature1 h6 {
    margin: 5px;
    
    border-bottom: 1px solid #ccc;
 }
 .fcolumn h5 {
    margin: 5px;
    
    border-bottom: 1px solid #ccc;
 }
 .block{
    width: 325px;
    height: 60px;
    margin-top: 9px;
    
 }
 .column1{ 
    width: 63px;

 }
 .column1 img{
    width: 150%;
    display: block;

 }
 
 .column2{
    width: 210px;
    border-bottom: 1px solid #ccc;
   

 }
 .column2 p{
   
 }
 .top h5{
    color: #fff;
    background-color: #096415;
    width: 120px;
    padding: 8px;
 }
 
 