@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=PT+Sans&family=Rubik+Gemstones&family=Ubuntu:ital,wght@0,300;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #0E3A36;
    font-family: 'Ubuntu', sans-serif;
}
.l{
    float: left;
}
.r{
    float: right;
}
.clc{
    clear: both;
}
.con{
    width: 1000px;
    margin: auto;
    background: white;
}
nav{
    background-color: #AA875D;
    line-height: 50px;

}
nav ul li{
    list-style: none;
    display: inline;
}
nav ul li a{
    color: brown;
    text-decoration: none;
    padding: 5px;
    border-right: 1px solid #ccc;
}
.left{
    width: 70%;
}
.right{
    width: 30%;
    background: #fff;
}
.caption{
    background-color: #1D3E1E;
    color: white;
    padding: 20px;
}
.caption h4{
    border-bottom: 2px solid #fff;
}
.rbox{
    border: 1px solid #ccc;
    
}
.rbox h4{
    background-color: brown;
color: #fff;
padding: 10px;
}
.thumb {
    width: 35%;
    
}



.thumb img{
   width: 100%; 
}
.thumbc {
    width: 60%;
    font-size: 10px;
    
}
.b{
    margin: 9px 0;
    border-bottom: 1px solid #ccc;
    
    
}