@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

@import"variables";
@import"headers";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}






main{
    text-align: center;
    position: relative;
    .mh{
        position: absolute;
        top: 70px;
        left: 150px;
        .hero-title{
            h1{
                font-family: 'Bangers', cursive;
                font-size: 75px;
                width: 400px;
                padding: 20px;
                color: #fff;
                letter-spacing: 5px;
            }
        }
        .hero-text{
            p{
              font-size: 30px;
              color: #fff;

            }
        }
        button{
            color: #fff;
            background: #000;
            border: none;
            font-size: 30px;
            padding: 20px;
            border-radius: 50px;
            width: 255px;
            margin-top: 20px;
        }
    }
}
